<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite parallel="false" name="Scotia Bank Test">
<listeners>
		<listener class-name="extentReportListner.ExtentReportTestNG" />
	</listeners>
  <test name="Test">
    <classes>
      <class name="Tests.LoginPageTest"/> 
            <class name="Tests.HomePageTest"/>   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
